@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Montserrat', sans-serif;
}
.aktop{
    padding: 6% 12% 6% 12%;
    background-image:
            linear-gradient(45deg,
              rgba(234, 147, 59, 0.75),
              rgba(255, 189, 36, 0.542)), url('Group\ 2.png');
    object-fit: cover !important;
    background-size: 100%;
    background-repeat:no-repeat;
}
.aktoprow1{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.aktoprow1:nth-of-type(2){
    padding: 1% 9% 1% 9%;
}
.aktoprow1:nth-of-type(3){
    padding: 0 19% 1% 19%;
}
.akcity1{
    background-color: #f1f1f1;
    padding: 2vh 5vh;
    border-radius: 6px;
}

.aktoprow1 a{
    text-decoration: none;
}
.aktoprow1 h6{
  font-size: 1em;
    margin-top: 5px;
    color: red;
}
.aktoprow1 h5{
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.aktoprow1 a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
}
.akcity1:hover{
    background-color: rgb(239, 169, 7);
    color: rgb(0, 0, 0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}




.akfilters{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 100px;
}
.akform-select{
    background-color: transparent;
    width: 40vh;
    margin: 5px;
    padding: 10px;
    bordeR: 3px solid #f18407;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.aksubmit{
    width: 26vh;
    height: 6vh;
    background-color: #f18407;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-weight: 600;
    letter-spacing: 2px;
}
.aksubmit:hover{
    background-color: #232323;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    color: #f1f1f1;
}




/*Slider seller top*/

.carousel-c1{
  padding: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sellerheading{
  margin: 0;
  text-align: center;
  font-weight: 900;
}
.sellerheading hr{
  margin: 0 100px 0 100px;
  border-top: 3px solid #000000 !important;
}
.multiple-card-slider .carousel-inner {
  padding: 1em 1em 1em 10rem;
}
.akCardBody{
  width: 25rem !important;
  height: 30rem !important;
}
.card-body .card-title{
  margin-top: 14px;
  font-weight: 700;
  text-align: center;
}
.multiple-card-slider .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.multiple-card-slider .carousel-control-prev,
.multiple-card-slider .carousel-control-next {
  background-color: #ff6f00;
  margin: 0 50px 0 50px; 
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.seller-img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.seller-img-main{
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.akselleraddress h3{
  font-weight: 400;
  font-size: 0.8rem;
}
.aknew{
  color: #000000;
  background-color: #f18407;
  padding: 3px;
  width: 60px;
  font-size: 0.8rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-align: center;
  font-weight: 500;
}
.midsection{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0px 0;
  align-items: center;
}
.akratings{
  display: flex;
  padding-top: 10px;
}
.akratings ul {
  padding: 0 9px 0 5px;
  display: flex;
  list-style: none;
  font-size: 15px;
  align-items: center;
  justify-content: center;
}
.akratings h5, .akratings h4{
  font-weight: 300;
  font-size: 1rem;
}
.akratings ul li {
  align-items: center;
  justify-content: center;
  color:#E8962F;
}
.akcurved svg{
display: block;
}

.sellerBtn{
  width: 100%;
  background-color: #f18407 !important;
}
.sellerBtn:hover{
  background-color: #381e05 !important;
  color: #f1f1f1 !important;
}
@media (min-width: 768px) {
  .multiple-card-slider .carousel-item {
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
    display: block;
    backface-visibility: visible;
  }
  .multiple-card-slider .carousel-inner {
    display: flex;
  }
}












.Brand-card-2nd-Item{
  margin-left: 25px !important;
}
.akarrowsbrand{
  text-align: right;
}
.akbrandcard{
  background-color:#f18407;
}
.akBrandBodyText p{
  font-size: 1.5vh !important;
}
.akcardbody2{
  width: 25vh auto;
  height: auto;
  border: none;
}
.Citem1{
  padding:  0 200px !important;
}
.Citem{
  padding: 10px;
  display: flex !important;
  justify-content: space-between !important;
}
.seller-img-2{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.seller-img-main-2{
    flex-shrink: 0;
    height: 130px;
    min-width: 50%;
    min-height: 50%
}
.address{
  font-weight: 500;
  font-size: 0.7rem;
}
.prev-2,
.next-2{
  background-color: #000000 !important;
}
.carousel-c2{
  padding: 100px !important;
  padding-top: 30px !important;
}

.akcategory{
  padding: 100px;
}
.filters{
  display: flex;
  margin-top: 30px;
  padding-left: 90px;
  margin-bottom: 30px;
}
.box{
  width: auto;
  padding: 10px 30px;
  margin-left: 10px;
  background-color: transparent;
  border: 3px solid #f18407;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}























@media only screen and (max-width: 480px){  
  .aktoprow1{
    align-items: center;
    justify-content: center;
  }
  .akcity1{
    padding: 2px !important;
    margin-left: 10px;
  }
  .akcity1 h5{
    font-size: 0.7rem !important;
  }
  .akcity1 h6{
    font-size: 0.5rem !important;
  }
  .Mhidden{
    display: none !important;
  }


}
